<!DOCTYPE html>
<html lang="en">
<title dir="rtl">پایانترم شیمی</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: IRYekan, serif}
.w3-bar,h1,button {font-family: IRYekan, serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-red w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-white">خانه</a>
<!--    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Link 1</a>-->
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
<!--    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>-->
<!--    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>-->
<!--    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>-->
<!--    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 4</a>-->
  </div>
</div>

<!-- Header -->
<header dir="rtl" class="w3-container w3-red w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">آزمون پایانترم درس شیمی</h1>
  {% if user.is_authenticated %}
    <p class="w3-xlarge">{{user.name}} عزیز خوش آمدی.</p>
  {% else %}
    <p class="w3-xlarge">ابتدا وارد شوید.</p>
  {% endif %}
<!--  <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Get Started</button>-->
</header>


{% for i, q, p, c, qi, anses in questions %}
  <div dir="rtl" class="w3-row-padding w3-padding-64 w3-container">
    <div class={{ c }}>
      <div class="w3-content">
          <h1 class="w3-xxlarge">سوال {{ i }}:</h1>
          <h5 class="w3-padding-32">{{ q }}</h5>
          {% if p %}
            <img width=100% height=auto src= {{ p }}>
          {% endif %}
          {% if anses %}
            <label class="w3-small">پاسخ‌های آپلود شده:</label>
            {% for ans_n, ans_id, ans_path in anses %}
              <form method="post" action="delete">{% csrf_token %}
                <input alt="حذف این پاسخ" type="submit" class="w3-button w3-circle w3-red w3-small" value="X">
                  <label class="w3-small"><a href={{ ans_path }}> پاسخ {{ ans_n }}</a></label>
                <input type="hidden" name="ans_id" value={{ ans_id }}>
              </form>
            {% endfor %}
          {% endif %}

          <br>

          <form method="post" enctype="multipart/form-data" action="upload">{% csrf_token %}
            <input type="hidden" name="question" value={{ qi }}>
            <label for="file" class="w3-small">افزودن پاسخ جدید:</label>
            <br>
            <input type="file" id="file" name="answer" multiple>
            <input class="w3-green w3-button" type="submit" value="ثبت پاسخ">
          </form>

      </div>
    </div>
  </div>
{% endfor %}

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>


